@model List<BandModel> 
@{
    ViewData["Title"] = "Lista de Bandas";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role="button" asp-controller="Band" asp-action="CreateBand">Adicionar nova banda</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Gênero</th>
                <th scope="col">Ano</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(BandModel band in Model)
                {

                    <tr>
                        <th scope="row">@band.Id</th>
                        <td>@band.BandName</td>
                        <td>@band.BandGenre</td>
                        <td>@band.BandYear</td>
                        <td>
                            <a role="button" class="btn btn-primary" asp-route-id="@band.Id" asp-controller="Band" asp-action="EditBand">Editar</a>
                        </td>
                        <td>
                            <a role="button" class="btn btn-danger" asp-route-id="@band.Id" asp-controller="Band" asp-action="DeleteBand">Apagar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

